* {
	margin: 0;
	padding:0;
}
body{
	background-color: #eee;
	font-size: 14px;
	line-height: 18px; 
	font-family: Myriad;
}
.wrapper{
	margin: 3px auto;
	padding: 40px;
	width: 660px;
	height: 1024px;
	background-color: #eee;
}
.section{
	padding:20px 10px 10px 10px;
	border-top: 1px solid #7a7a7a;
	font-size: 14px;
}

.header{
	border-top: none;
	padding-top: 0;
	font-size: 14px;
	font-family: Arial;
}

h1{ 
	margin-bottom: 25px;
	font-size: 36px;
    font-family: ArialBold;
	line-height: 30px;
	text-align: center;
 }

.image{
	text-align: center;
}
img{
	max-width: 204px;
	max-height: 204px;
}
ul{
	display: block;
	list-style-type: disc;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 0;
	margin-right: 0;
	padding-left: 30px; 
}

.bold_text{
	margin-bottom: 5px;
	padding-bottom: 15px;
	font-size: 18px;
	font-weight: bold;
}
.text_intend{
	margin-bottom: 5px;
	padding-bottom: 20px;
	text-indent: 30px;  
}


